@charset 'utf-8';


.navbar-nav{
	display:flex;
	justify-content:right;
	flex-direction:row;
	width: 50vw;
}
.container-fluid{
	display:flex;
	justify-content:space-between!important;
	flex-direction:row
}

@media only screen and (max-width:400px){

	.navbar-nav{
		justify-content:left;	
	}

}