@charset 'utf-8';

@media only screen and (min-width:850px){

	category-side{
		display: block!important;
	}
	mediacategory-side{
		display: none!important;
	}

}

@media only screen and (max-width:850px){

	category-side{
		display: none!important;
	}
	mediacategory-side{
		display: block!important;
	}

}